

     <header class="logo-content">
         <a href="javascript:" class="logo"></a>
         <!--End .logo-->
         <div class="borrow-me-logo"></div>
         <!--End .borrow-me-logo-->
     </header>
     <!--End .logo-content-->

     <form class="login-form">
         <div class="login-inputs">
             <div class="error-msg">Incorrect ID or Password</div>
             <!--End .error-msg-->
             <div class="input-holder">
                 <input type="email" data-ng-model="username" class="id" name="username" placeholder="Intranet ID">
                 <input type="password" data-ng-model="password" class="password" name="password" placeholder="Password">
             </div>
             <a class="login-btn" data-ng-click="login();">LogIn</a>
<!--              <a href="#/dashboard" class="login-btn" data-ng-click="login()">LogIn</a> -->
         </div>
     </form>
     <!--End .login-form-->
 